.nav-link {
    text-shadow: var(--text-shadow);
}

.nav-link:hover {
    color: var(--border-color) !important;
    text-shadow: 1px 1px 10px var(--border-color),
        1px 1px 10px var(--border-color);
}

.navbar-brand {
    font-family: var(--zen-dots);
    text-shadow: var(--text-shadow);
}

.navbar-collapse {
    flex-grow: 0 !important;
}
