<nav class="navbar navbar-expand-lg bg-transparent" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-between bg-transparent">
        <div class="cursor navbar-brand fs-2 py-3 bg-transparent" routerLink="/">MongoDB</div>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <div class="cursor nav-link text-body fs-5 px-3" routerLink="/">Home</div>
                <a class="nav-link text-body fs-5 px-3" [href]="repo" target="_blank">Repo</a>
                <a class="nav-link text-body fs-5 px-3" [href]="doc" target="_blank">Doc</a>
            </div>
        </div>
    </div>
</nav>
<div class="glow position-relative"></div>
