<section class="d-flex justify-content-between bg-transparent">
    <section class="container d-flex flex-column overflow-auto bg-transparent">
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
        <button class="btn btn-outline-danger rounded-0">
            algo
        </button>
    </section>
    <div class="glow position-relative"></div>
</section>

