<section class="sidebar d-flex justify-content-between mx-1 bg-transparent">
    <section class="scroll container d-flex flex-column my-2 overflow-auto">
        @for (exercise of exercises; track exercise) {
        <a
            class="option list-group-item p-3 my-1 fs-5 text-white"
            [routerLink]="'ex-' + exercise.exercise"
        >
            Ejercicio {{ exercise.exercise }}
        </a>
        @if (exercise !== exercises.at(exercises.length - 1)) {
        <div class="glow position-relative mb-2"></div>
        } }
    </section>
    <div class="glow position-relative"></div>
</section>
