.sidebar {
    height: calc(100vh - 134px);
}

.option {
    height: 4rem;
    text-shadow: var(--text-shadow);
    transition: ease 0.5s;

    &:hover {
        color: var(--border-color) !important;
        text-shadow: 1px 1px 15px var(--border-color);
        font-size: 1.5rem !important;
    }
}
